
@{
    ViewBag.Title = "Configure Teams App";
    Layout = "~/Views/Shared/_LayoutMSTeams.cshtml";
}
@section Header
{
    @Scripts.Render("~/Scripts/TeamsAppConfigureTab.js")
}

<h2>Configure your Teams Tab</h2>